<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.victorjuez.mywaiter">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".View.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.ScanActivity"
            android:label="@string/title_activity_scan" />
        <activity
            android:name=".View.Carta.CartaActivity"
            android:label="@string/title_activity_carta"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.victorjuez.mywaiter.View.RestaurantActivity" />
        </activity>
        <activity android:name=".View.PlateActivity" />
        <activity android:name=".View.Checkout.CheckoutActivity" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <activity
            android:name=".View.Restaurant.RestaurantActivity"
            android:label="@string/title_activity_support" />
        <activity android:name=".View.RegisterActivity"></activity>
    </application>

</manifest>